API_IMAGE_NAME=transcribebot
API_IMAGE_TAG=latest

TELEGRAM_TOKEN=
TELEGRAM_ALLOWED_USER_IDS=

OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_API_KEY=
OPENROUTER_PROCESSING_MODEL=google/gemini-3.1-flash-lite-preview
OPENROUTER_COMPRESSION_MODEL=google/gemini-3-flash-preview
OPENROUTER_REASONING_EFFORT=medium

CONNECTION_STRING=Host=postgres;Port=5432;Database=transcribebot;Username=postgres;Password=postgres

POSTGRES_IMAGE_TAG=17.9-bookworm
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=transcribebot
POSTGRES_PORT=5432
