API_IMAGE_NAME=transcribebot
API_IMAGE_TAG=latest

TELEGRAM_TOKEN=

OPENROUTER_API_KEY=

CONNECTION_STRING=Host=postgres;Port=5432;Database=transcribebot;Username=postgres;Password=postgres

POSTGRES_IMAGE_TAG=17.9-bookworm
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=transcribebot
POSTGRES_PORT=5432
